{% extends "base.html" %}
{% block head %}
{% endblock head %}
{% block content %}

<main>
    <section>
        <h2 style="text-decoration: underline">Welcome</h2>
        <ul style="font-size:1.2rem">
            <li style="margin:1rem;list-style-type: '&#128221;'"><a href="{{ url_for('projects') }}">Look at the projects</a></li>
            <li>Check the <a href="https://github.com/codeflyio" target="_blank">GitHub</a></li>
            <li>Read the articles</li>
            <li>About page</li>
            <li>Contact form</li>
        </ul>
    </section>
</main>

{% endblock content %}
